$back-color-p: #fff;
@mixin priority-hover($high: false, $medium: false) {
    &:hover {
        @if $high {
            background-color: #FE6868;
            color: #FE6868;
        } @else if($medium){
            color: #FFC559;
            background-color: #FFC559;
        } @else {
            color: #EBEBEB;
            background-color: #EBEBEB;
        }
        border-radius: 100%;
        transition: all .2s ease-in;
    }
}
@mixin priority($high: false, $medium: false) {
    transition: all .2s ease-in;
    border-radius: 100%;
     @if $high {
        color: red;
    } @else if($medium) {
        color: orange;
    } @else {
        color: #EBEBEB;
    }
}
.todo-task {
    display: flex;
    flex-direction: row;
    //justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 470px;
    height: 45px !important;
    border-radius: 3px;
    background-color: darken($back-color-p, 8%);
    margin-top: .5rem;
    .task-done {
        flex-basis: 10%;
    }
    .task-text {
        flex-basis: 60%;
        text-align: left;
    }
    .todo-task_toolbox {
        display: none;
        text-align: center;
        flex-basis: 30%;
        & > * {
            padding: 0 .2rem;
        }
        .priority-high {
            @include priority($high: true);
            @include priority-hover($high: true);
        }
        .priority-medium {
            @include priority($medium: true);
            @include priority-hover($medium: true);
        }
        .priority-regular {
            @include priority();
            @include priority-hover();
        }
        
    }
    transition: all .2s ease-out;
    &:hover {
        .todo-task_toolbox {
            display: block;
        }
        transition: all .1s ease-in;
        transform: scale(1.02);
        background-color: $back-color-p;
    }
}