@mixin box-shadow {
    -webkit-box-shadow: -4px 6px 8px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: -4px 6px 8px 1px rgba(0,0,0,0.12);
    box-shadow: -4px 6px 8px 1px rgba(0,0,0,0.12);
}
.todo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #fff;
    width: 480px;
    height: 85px;
    @include box-shadow;
    &:hover {
        position: relative;
        .todo-header_name > .todo-header_toolbox {
            display: block;
            position: absolute;
            right: 1%;
        }
    }
    .todo-header_name {
        text-align: center;
        padding: .7rem 0;
        display: flex;
        flex-direction: row;
        h3 {
            flex-basis: 92%;
            justify-content: center;
        }
        .todo-header_toolbox {
            flex-basis: 8%;
            display: none;
            justify-content: flex-end;
        }
    }

    .todo-header_create-task {
        display: flex;
        flex-direction: row;
        span {
            flex-basis: 10%;
            text-align: center;
        }
        input {
            flex-basis: 60%;
        }
        button {
            flex-basis: 20%;
            margin-left: 1rem;
        }
    }
}

.todo-task {
    @include box-shadow;
}

@media screen and (max-width: 468px) {
    .todo {
        width: 310px;
    }
}