.todo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 12rem;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #fff;
    width: 480px;
    -webkit-box-shadow: -4px 6px 8px 1px rgba(0,0,0,0.12);
    -moz-box-shadow: -4px 6px 8px 1px rgba(0,0,0,0.12);
    box-shadow: -4px 6px 8px 1px rgba(0,0,0,0.12);

    .todo-header_name {
        text-align: center;
        padding: .7rem 0;
    }

    .todo-header_create-task {
        display: flex;
        flex-direction: row;
        span {
            flex-basis: 10%;
            text-align: center;
        }
        input {
            flex-basis: 60%;
        }
        button {
            flex-basis: 20%;
            margin-left: 1rem;
        }
    }
}